!!! 5
html
  head
    title Clioflict
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content="IE=edge")
    meta(http-equiv="cache-control", content="no-cache, no-store, must-revalidate")
    title= title
    link(rel='stylesheet', href='/css/app.css')
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Clio Conflict Checker
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li(class=navBarClasses(req, '/'))
              a(href='/') Home
            if req.isAuthenticated() && req.user.admin
              li(class=navBarClasses(req, '/admin'))
                a(href='/admin') Admin
            if req.isAuthenticated()
              li(class=navBarClasses(req, '/logout'))
                a(href='/logout') Logout
            else
              li(class=navBarClasses(req, '/login'))
                a(href='/login') Login

    .container
      #title-space
        h1= title
      block content
    script(src='/js/app.js')
